---
- name: Install pgBackRest package
  package:
    name: "{{ pgbackrest_package_name }}"
    state: present
  become: true

# service gets shut down during installation of pgBackRest, cannot ssh into other nodes without turning on
- name: Start systemd-user-sessions.service
  systemd:
    name: "systemd-user-sessions.service"
    state: started
  become: true
