Defaults:{{ pg_owner }} !requiretty
{{ pg_owner }} ALL = NOPASSWD: /usr/bin/systemctl stop {{ pg_service }}, \
	/usr/bin/systemctl start {{ pg_service }}, \
	/usr/bin/systemctl restart {{ pg_service }}, \
	/usr/bin/systemctl reload {{ pg_service }}, \
	/usr/bin/systemctl start repmgr-{{ pg_version }}, \
	/usr/bin/systemctl stop repmgr-{{ pg_version }}
