---
# defaults file for setup_etcd
os: ""

pg_type: "PG"
pg_version: 14
pg_owner: "postgres"
pg_group: "postgres"
etcd_owner: "{{ pg_owner }}"
etcd_group: "{{ pg_group }}"

use_hostname: true

etcd_version: "3.5.7"
etcd_service: "etcd-{{ etcd_version }}"
etcd_download_url: "https://github.com/etcd-io/etcd/releases/download/v{{ etcd_version }}"
etcd_checksum_url: "sha256:https://github.com/coreos/etcd/releases/download/v{{ etcd_version }}/SHA256SUMS"
etcd_architecture: "amd64"
etcd_package: "etcd-v{{ etcd_version }}-linux-{{ etcd_architecture }}"
etcd_rpm: false

etcd_name: "{{ inventory_hostname }}"
etcd_client_port: 2379
etcd_peer_port: 2380
etcd_compaction_mode: revision
etcd_compaction_retention: 10
etcd_initial_cluster: []
etcd_initial_cluster_state: "new"
etcd_cluster_nodes: []
etcd_data_dir: "/var/lib/etcd"
etcd_config_dir: "/etc/etcd"
etcd_ssl_dir: "{{ etcd_config_dir }}/ssl"
etcd_config: "{{ etcd_config_dir }}/etcd-{{ etcd_version }}.conf"
etcd_download_dir: "/tmp/etcd"
etcd_download_mode: "0755"
etcd_bin_dir: "/usr/bin"
etcd_certificates: []

# CA key and ETCD member key file names
etcd_ca_key: "{{ etcd_ssl_dir }}/ca-key.key"
etcd_ca_crt: "{{ etcd_ssl_dir }}/ca-crt.pem"
etcd_member_key: "{{ etcd_ssl_dir }}/etcd-{{ inventory_hostname }}.key"
etcd_member_csr: "{{ etcd_ssl_dir }}/etcd-{{ inventory_hostname }}.csr"
etcd_member_crt: "{{ etcd_ssl_dir }}/etcd-{{ inventory_hostname }}.pem"
etcd_ssl_valid_days: 365

# User defined key variables
etcd_remote_ssl_src: false
etcd_user_ca_key: ""
etcd_user_ca_crt: ""
etcd_user_member_key: ""
etcd_user_member_crt: ""

# Enable SSL
etcd_ssl: true
etcd_ssl_csr_dn:
  CN: "{{ inventory_hostname if use_hostname else hostvars[inventory_hostname].private_ip }}"
  O: "Patroni-ETCD"
  OU: ""
  L: "ETCD"
  ST: "NA"
  C: "NA"
  EMAIL: "example@mail.com"

update_etc_file: true
etc_hosts_lists: []
# etcd parametrs needed for initialization
# example:
# etcd_ccnf_parameters
#  - name: "cert-file"
#    value: "/etc/etcd/cert-etcd-server.pem"
etcd_conf_params: []

supported_os:
  - CentOS7
  - CentOS8
  - RedHat7
  - RedHat8
  - Ubuntu20
  - Debian9
  - Debian10
  - Rocky8
  - Rocky9
  - AlmaLinux8
  - OracleLinux7
