# /etc/pgbackrest.conf
[global]
repo1-host={{ pgbackrest_host }}
repo1-host-user={{ pgbackrest_user }}
repo1-retention-full=2
log-level-console={{ pgbackrest_log_level }}
log-level-file=debug

[{{ pg_instance_name }}]
pg1-path={{ pg_data }}
{% if backup_standby is defined %}
recovery-option=primary_conninfo=host={{ primary_node_hostname }} user={{ replication_user }}
{% endif %}