# /etc/pgbackrest.conf
[global]
repo1-host={{ pgbackrest_host }}
repo1-host-user={{ pgbackrest_user }}
log-level-console={{ pgbackrest_log_level }}
log-level-file=debug

[{{ pg_instance_name }}]
pg1-path={{ pg_data }}
recovery-option=primary_conninfo=host={{ primary_node_hostname[0] }} user={{ replication_user }}