---
pem_server_version_int: 0
pg_instance_name: main
use_hostname: true
update_etc_file: true
force_pem_install: false
pem_agent: false
pass_dir: "~/.edb"
efm_enabled: true
pg_pem_admin_user: "pemadmin"
pg_pem_admin_password: ""
pg_pem_agent_user: "pemagent"
pg_pem_agent_password: ""
pg_ssl: true
disable_logging: true
use_patroni: false

# setting validate_only to true allows you to validate setup on an existing node
# use_validation flag applies to deployment configuration and validation after setup
validate_only: false
use_validation: true

node_ssh_to_pemserver: true
enable_pemagent_monitor_barman: false
pem_server_exists: false
# efm information
efm_version: "4.5"
efm_bin_path: "/usr/edb/efm-{{ efm_version }}/bin"
efm_cluster_name: "{{ pg_instance_name }}"

pem_agent_package: "edb-pem-agent"
pg_backup_api_package: "pg-backup-api"

pem_agent_service: pemagent
pg_backup_api_service: pg-backup-api

pem_agent_bin_path: "/usr/edb/pem/agent/bin"
pem_agent_confg_path: "/usr/edb/pem/agent/etc"
pem_agent_batch_script_user: "root"

pem_agent_certificate_path: "/etc/edb/certs/pem"
pem_agent_service_name: "pem-server-agent"
pem_agent_hba_local_entry: []

force_register_db: false
# common variables require for the role
etc_hosts_lists: []
input_password: ""
pg_allow_ip_addresses: []

# support related variables
supported_os:
  - CentOS7
  - CentOS8
  - RHEL7
  - RHEL8
  - Rocky8
  - AlmaLinux8
  - OracleLinux7
  - Debian10
  - Ubuntu20

supported_pg_type:
  - EPAS
  - PG

supported_pg_version:
  - 10
  - 11
  - 12
  - 13
  - 14
  - 15
