---
# validate dbt2 client packages installation
- name: Set dbt2_client_package_list
  ansible.builtin.set_fact:
    dbt2_client_package_list: ['perf', 'rsync', 'tmux', 'fuse', 'fuse-libs', 'sysstat']

- name: Gather the package facts
  ansible.builtin.package_facts:
    strategy: "all"

- name: Check that all packages in dbt2_client_package_list has been installed
  ansible.builtin.assert:
    that:
      - "{{ ansible_facts.packages[package] }} is defined"
    fail_msg: "Package {{ package }} has not been installed."
    success_msg: "Package {{ package }} has been installed."
  loop: "{{ dbt2_client_package_list }}"
  loop_control:
    loop_var: package

# ensure the DBT-2 AppImage has been installed to the proper location
- name: Stat to dbt2_path
  ansible.builtin.stat:
    path: "{{ dbt2_path }}"
  register: dbt2_path_client_stat
  become: true

- name: Check if DBT-2 AppImage was installed properly on client
  ansible.builtin.assert:
    that:
      - dbt2_path_client_stat.stat['exists']|bool
    fail_msg: "DBT-2 AppImage at {{ dbt2_path }} was not created properly"
    success_msg: "DBT-2 AppImage at {{ dbt2_path }} was created successfully"

# validate dbt2 client sudo user
- name: Run command to check DBT-2 client sudo user was configured properly
  ansible.builtin.shell: |
    set -o pipefail
    cat /etc/security/limits.conf | grep {{ pg_owner }}
  args:
    executable: /bin/bash
  become: true
  become_user: "{{ pg_owner }}"
  run_once: true
  register: dbt2_client_sudo_res
  changed_when: dbt2_client_sudo_res.rc == '0'

- name: Check if DBT-2 client sudo user has been configured correctly.
  ansible.builtin.assert:
    that:
      - dbt2_client_sudo_res.stdout_lines is search('{{ pg_owner }}')
    fail_msg: "{{ pg_owner }} was not configured as sudo user correctly."
    success_msg: "{{ pg_owner }} was configured as sudo user correctly."
  run_once: true

# reset variables
- name: Reset variables
  ansible.builtin.set_fact:
    dbt2_client_package_list: null
    dbt2_path_client_stat: null
    dbt2_client_sudo_res: null
