[submodule "git-config"]
	path = git-config
	url = https://github.com/hypersql/git-config.git
[submodule "playbook-examples"]
	path = playbook-examples
	url = https://github.com/hypersql/playbook-examples
