---

- name: Get pgBackRest node informations
  set_fact:
    pgbackrest_node_info: "{{ lookup('hypersql_devops.postgres.pgbackrest_nodes', wantlist=True) }}"

- name: Determine if standby
  set_fact:
    _standby_list: "{{ pgbackrest_node_info | selectattr('node_type', 'equalto', 'standby') | default([]) }}"

- name: Determine if backup_standby
  set_fact:
    standby_present: 'y'
  when: _standby_list|length > 0

- name: Get primary node informations
  set_fact:
    primary_node_hostname: "{{ pgbackrest_node_info | selectattr('node_type', 'equalto', 'primary') | map(attribute='inventory_hostname') }}"
  when:
    - use_hostname|bool

- name: Get primary node informations
  set_fact:
    primary_node_hostname: "{{ pgbackrest_node_info | selectattr('node_type', 'equalto', 'primary') | map(attribute='ansible_host') }}"
  when:
    - "not use_hostname|bool"

- name: Get standby node informations
  set_fact:
    standby_node_hostname: "{{ pgbackrest_node_info | selectattr('node_type', 'equalto', 'standby') | map(attribute='inventory_hostname') }}"
  when:
    - use_hostname|bool
    - standby_present is defined

- name: Get standby node informations
  set_fact:
    standby_node_hostname: "{{ pgbackrest_node_info | selectattr('node_type', 'equalto', 'standby') | map(attribute='ansible_host') }}"
  when:
    - "not use_hostname|bool"
    - standby_present is defined

- name: Get num of standby nodes
  set_fact:
    two_standby: true
  when:
    - standby_present is defined
    - _standby_list|length > 1

- name: Get num of standby nodes
  set_fact:
    three_standby: true
  when:
    - standby_present is defined
    - _standby_list|length > 2

- name: Define postgres user on primary node when pg_type = PG
  set_fact:
    primary_host_user: "postgres"
  when: pg_type == 'PG'

- name: Define postgres user on primary node when pg_type = EPAS
  set_fact:
    primary_host_user: "enterprisedb"
  when: pg_type == 'EPAS'

- name: Define postgres user on standby node when pg_type = PG
  set_fact:
    standby_host_user: "postgres"
  when:
    - pg_type == 'PG'
    - standby_present is defined

- name: Define postgres user on standby node when pg_type = EPAS
  set_fact:
    standby_host_user: "enterprisedb"
  when:
    - pg_type == 'EPAS'
    - standby_present is defined

- name: Define EPAS DB information
  set_fact:
    pg_unix_socket_EPAS: "/var/run/edb/as{{ pg_version }}"
    pg_port_EPAS: "5444"
    pg_database_name: "edb"
  when:
    - pg_type == 'EPAS'
    - ansible_os_family == 'RedHat'

- name: Define EPAS DB information
  set_fact:
    pg_unix_socket_EPAS: "/var/run/edb-as"
    pg_port_EPAS: "5444"
    pg_database_name: "postgres"
  when:
    - pg_type == 'EPAS'
    - ansible_os_family == 'Debian'

- name: Reset local variables
  set_fact:
    _standby_list: null
