---
- name: Build configuration file {{ pgbackrest_configuration_file }}
  template:
    src: "./templates/pgbackrest.conf.template"
    dest: "{{ pgbackrest_configuration_file }}"
    owner: "{{ pgbackrest_user }}"
    group: "{{ pgbackrest_group }}"
    mode: 0600
  become: yes
