---
- name: Set the os variable
  ansible.builtin.set_fact:
    os: "{{ ansible_distribution | replace('RedHat', 'RHEL') }}{{ ansible_distribution_major_version }}"

- name: Check support for Operating System
  ansible.builtin.fail:
    msg: "Operating System = {{ os }} not supported."
  when: os not in supported_os

- name: Check repo_cipher_password is not empty
  ansible.builtin.fail:
    msg: "repo_cipher_password = {{ repo_cipher_password }} cannot be empty"
  when:
    - repo_cipher_type == "aes-256-cbc"
    - repo_cipher_password|length < 1

- name: Check pgbackrest_log_level_console configuration value
  ansible.builtin.fail:
    msg: "pgBackRest console logging level = {{ pgbackrest_log_level_console }} not valid.
          Available logging levels are {{ supported_log_level }}"
  when: pgbackrest_log_level_console not in supported_log_level

- name: Check pgbackrest_log_level_file configuration value
  ansible.builtin.fail:
    msg: "pgBackRest file logging level = {{ pgbackrest_log_level_file }} not valid.
          Available logging levels are {{ supported_log_level }}"
  when: pgbackrest_log_level_file not in supported_log_level

- name: Check repo_retention_full_type configuration value
  ansible.builtin.fail:
    msg: "pgBackRest repo retention type = {{ repo_retention_full_type }} not valid.
          Available repo retention types  are {{ supported_repo_retention_type }}"
  when: repo_retention_full_type not in supported_repo_retention_type

- name: Reference pg_type variables
  ansible.builtin.include_vars: "{{ role_path }}/../init_dbserver/vars/{{ pg_type }}_{{ ansible_os_family }}.yml"

- name: Remove pgbackrest install/config based on force_pgbackrestserver
  ansible.builtin.include_tasks: rm_pgbackrestserver_install_config.yml
  when:
    - force_pgbackrestserver is defined
    - force_pgbackrestserver

- name: Update /etc/hosts based on use_hostname
  become: true
  when:
    - use_hostname|bool
    - update_etc_file|bool
    - not validate_only|bool
  block:
    - name: Update /etc/hosts
      ansible.builtin.import_tasks: linux_update_etc_hosts.yml

- name: Include the define_node_variables tasks
  ansible.builtin.include_tasks: define_node_variables.yml
  when: not validate_only|bool

- name: Include the create_user installation tasks
  ansible.builtin.include_tasks: create_user.yml
  when: not validate_only|bool

- name: Include the package installation tasks
  ansible.builtin.include_tasks: "pgbackrest_install_{{ pg_type }}.yml"
  when: not validate_only|bool

- name: Include the create_directories installation tasks
  ansible.builtin.include_tasks: create_directories.yml
  when: not validate_only|bool

- name: Include the SSH key generation tasks
  ansible.builtin.include_tasks: generate_ssh_keys.yml
  when: not validate_only|bool

- name: Include the generate_config installation tasks
  ansible.builtin.include_tasks: generate_config.yml
  when: not validate_only|bool

- name: Include the validate setup_pgbackrestserver tasks
  ansible.builtin.include_tasks: validate_setup_pgbackrestserver.yml
  when: validate_only|bool or use_validation|bool