---
all:
  children:
    primary:
      hosts:
        primary1:
          ansible_host: {{ inventory_vars['primary1_ip'] }}
          private_ip: {{ inventory_vars['primary1_ip'] }}
          dbt3: true
