---
all:
  children:
    primary:
      hosts:
        primary1:
          ansible_host: {{ inventory_vars['primary1_ip'] }}
          private_ip: {{ inventory_vars['primary1_ip'] }}
    standby:
      hosts:
        standby1:
          ansible_host: {{ inventory_vars['standby1_ip'] }}
          private_ip: {{ inventory_vars['standby1_ip'] }}
          upstream_node_private_ip: {{ inventory_vars['primary1_ip'] }}
          replication_type: asynchronous
        standby2:
          ansible_host: {{ inventory_vars['standby2_ip'] }}
          private_ip: {{ inventory_vars['standby2_ip'] }}
          upstream_node_private_ip: {{ inventory_vars['primary1_ip'] }}
          replication_type: asynchronous
    pgpool2:
      hosts:
        pool1:
          ansible_host: {{ inventory_vars['pool1_ip'] }}
          private_ip: {{ inventory_vars['pool1_ip'] }}
          primary_private_ip: {{ inventory_vars['primary1_ip'] }}
        pool2:
          ansible_host: {{ inventory_vars['pool2_ip'] }}
          private_ip: {{ inventory_vars['pool2_ip'] }}
          primary_private_ip: {{ inventory_vars['primary1_ip'] }}
        pool3:
          ansible_host: {{ inventory_vars['pool3_ip'] }}
          private_ip: {{ inventory_vars['pool3_ip'] }}
          primary_private_ip: {{ inventory_vars['primary1_ip'] }}