---
- name: Stop the service {{ epas_service }}
  systemd:
    name: "{{ epas_service }}"
    state: stopped
  become: yes

- name: Remove sslutils
  package:
    name:
      - edb-as{{ pg_version }}-server-sslutils
    state: absent
  become: yes
  when: pg_ssl

- name: Remove EPAS packages
  package:
    name:
      - edb-as{{ pg_version }}-server
      - edb-as{{ pg_version }}-server-core
      - edb-as{{ pg_version }}-server-edb-modules
      - edb-as{{ pg_version }}-server-contrib
      - edb-as{{ pg_version }}-server-libs
      - edb-as{{ pg_version }}-server-client
      - edb-as{{ pg_version }}-server-llvmjit
      - edb-as{{ pg_version }}-server-indexadvisor
      - edb-as{{ pg_version }}-server-sqlprofiler
      - edb-as{{ pg_version }}-server-sqlprotect
    state: absent
  become: yes

- name: Remove python packages
  package:
    name:
      - python-pip
      - python-psycopg2
    state: absent
  when: os in ['RedHat7','CentOS7']
  become: yes

- name: Remove python packages
  package:
    name:
      - python3-pip
      - python3-psycopg2
    state: absent
  when: os in ['RedHat8','CentOS8','Rocky8']
  become: yes

