---
- name: Stop the service {{ epas_service }}
  systemd:
    name: "{{ epas_service }}"
    state: stopped
  become: yes

- name: Remove sslutils
  package:
    name:
      - edb-as{{ pg_version }}-server-sslutils
    state: absent
    update_cache: yes
  become: yes
  when: pg_ssl

- name: Remove EPAS Packages
  package:
    name:
      - python3-pip
      - python3-psycopg2
      - edb-as{{ pg_version }}-server
      - edb-as{{ pg_version }}-server-core
      - edb-as{{ pg_version }}-server-edb-modules
      - edb-as{{ pg_version }}-server-client
      - edb-as{{ pg_version }}-server-indexadvisor
      - edb-as{{ pg_version }}-server-sqlprofiler
      - edb-as{{ pg_version }}-server-sqlprotect
    state: absent
    update_cache: yes
  become: yes

- name: Remove python-psycopg2
  package:
    name:
      - python-psycopg2
      - python-ipaddress
    state: absent
    update_cache: yes
  when: os in ['Ubuntu18', 'Debian9']
  become: yes
