---
- name: Gather service facts
  ansible.builtin.service_facts:

- name: Stop the service {{ pg_service }}
  ansible.builtin.systemd:
    name: "{{ pg_service }}"
    state: stopped
  when:
    - ansible_facts.services[pg_service + '.service'] is defined
    - ansible_facts.services[pg_service + '.service'].state == 'running'
  become: true

- name: Remove require python package on EL7
  ansible.builtin.package:
    name:
      - python-pycurl
      - libselinux-python
      - python2-psycopg2
      - python-ipaddress
    state: absent
  when: ansible_distribution_major_version == '7'
  become: true

- name: Remove require python package on EL8
  ansible.builtin.package:
    name:
      - python3-pycurl
      - python3-libselinux
      - python3-psycopg2
    state: absent
  become: true
  when: ansible_distribution_major_version == '8'

- name: Remove Postgres
  ansible.builtin.package:
    name:
      - postgresql{{ pg_version }}
      - postgresql{{ pg_version }}-server
      - postgresql{{ pg_version }}-contrib
      - sslutils_{{ pg_version }}
    state: absent
  become: true
