---
- name: Set the os variable
  set_fact:
    os: "{{ ansible_distribution | replace('RedHat', 'RHEL') }}{{ ansible_distribution_major_version }}"

- name: Check support for Operating System
  fail:
    msg: "Operating System = {{ os }} not supported."
  when: os not in supported_os

- name: Include OS and pg_type dependent variables
  include_vars: "{{ pg_type }}_{{ ansible_os_family }}.yml"

- name: Check PgBouncer version
  fail:
    msg: "PgBouncer version {{ pgbouncer_version }} not supported.
        Supported versions are {{ supported_pgbouncer_version }}."
  when: pgbouncer_versioni not in supported_pgbouncer_version

- name: Check PgBouncer pool_mode configuration value
  fail:
    msg: "PgBouncer pooling mode = {{ pgbouncer_pool_mode }} not valid.
      Available pooling modes are {{ available_pool_mode }}"
  when: pgbouncer_pool_mode not in available_pool_mode

- name: Check PgBouncer auth_type configuration value
  fail:
    msg: "PgBouncer authentication type = {{ pgbouncer_auth_type }} not valid.
      Available authentication types are {{ available_auth_type }}"
  when: pgbouncer_auth_type not in available_auth_type

- name: Include the pgbouncer_install
  include_tasks: pgbouncer_install.yml

- name: Include the pgbouncer_setup
  include_tasks: pgbouncer_setup.yml
