---

- name: Set the os variable
  ansible.builtin.set_fact:
    os: "{{ ansible_distribution | replace('RedHat', 'RHEL') }}{{ ansible_distribution_major_version }}"

- name: Check support for Operating System
  ansible.builtin.fail:
    msg: "Operating System = {{ os }} not supported."
  when: os not in supported_os

- name: Include OS and pg_type dependent variables
  ansible.builtin.include_vars: "{{ pg_type }}_{{ ansible_os_family }}.yml"

- name: Check PgBouncer pool_mode configuration value
  ansible.builtin.fail:
    msg: "PgBouncer pooling mode = {{ pgbouncer_pool_mode }} not valid.
         Available pooling modes are {{ available_pool_mode }}"
  when: pgbouncer_pool_mode not in available_pool_mode

- name: Check PgBouncer auth_type configuration value
  ansible.builtin.fail:
    msg: "PgBouncer authentication type = {{ pgbouncer_auth_type }} not valid.
         Available authentication types are {{ available_auth_type }}"
  when: pgbouncer_auth_type not in available_auth_type

- name: Remove pgbouncer install and configuration based on force_initdb/force_replication/force_pgbouncer
  ansible.builtin.include_tasks: rm_pgbouncer_install_config.yml
  when: >
    ((force_pgbouncer is defined and force_pgbouncer) or
     (force_initdb is defined and force_initdb) or
     (force_replication is defined and force_replication) or
     (remove_only is defined and remove_only))

- name: Include the pgbouncer_install
  ansible.builtin.include_tasks: pgbouncer_install.yml

- name: Include the pgbouncer_setup
  ansible.builtin.include_tasks: pgbouncer_setup.yml
