---
pgpool2_version: 4.3
pgpool2_package_name: "edb-pgpool{{ pgpool2_version | string | replace('.', '') }}"
pgpool2_configuration_file: "/etc/edb/edb-pgpool{{ pgpool2_version | string | replace('.', '') }}/pgpool.conf"
pgpool2_pool_passwd_file: "/etc/edb/edb-pgpool{{ pgpool2_version | string | replace('.', '') }}/pool_passwd"
pcp_configuration_file: "/etc/edb/edb-pgpool{{ pgpool2_version | string | replace('.', '') }}/pcp.conf"
pgpool2_user: "enterprisedb"
pgpool2_group: "enterprisedb"


# Default configuration values
pgpool2_systemd_config_file: "/lib/systemd/system/edb-pgpool{{ pgpool2_version | string | replace('.', '') }}.service.d/edb-pgpool.conf"
# location of edb-pgpool43.sh file used to start, stop and restart
pgpool2_start_script: "/usr/edb/pgpool{{ pgpool2_version | string }}/bin/edb-pgpool{{ pgpool2_version | string | replace('.', '') }}.sh"
pgpool2_environment_file: "/etc/default/edb-pgpool{{ pgpool2_version | string | replace('.', '') }}"
pgpool2_pid_file_name: "/var/run/edb/pgpool{{ pgpool2_version | string }}/edb-pgpool-{{ pgpool2_version | string }}.pid"
pgpool2_logdir: "/var/log/edb/pgpool{{ pgpool2_version | string }}"
pgpool2_bin_path: "/usr/edb/pgpool{{ pgpool2_version | string }}/bin"

# Directory containing SSL keys and certs
pgpool2_ssl_dir: "/etc/edb/pgpool-ssl"

# pgpool service name
pgpool2_service_name: "edb-pgpool{{ pgpool2_version | string | replace('.', '') }}"

pgpool2_node_id_file: "/etc/edb/edb-pgpool{{ pgpool2_version | string | replace('.', '') }}/pgpool_node_id"
