---

- name: Install packages for DBT-2
  dnf:
    name:
      - 'https://github.com/osdldbt/dbttools-packaging/releases/download/v{{ dbttools_version }}/dbttools-{{ dbttools_version }}-1.el8.x86_64.rpm'
      - 'https://github.com/osdldbt/dbt2-packaging/releases/download/v{{ dbt2_version }}/dbt2-driver-{{ dbt2_version }}-1.el8.x86_64.rpm'
      - 'https://github.com/osdldbt/dbt2-packaging/releases/download/v{{ dbt2_version }}/dbt2-scripts-{{ dbt2_version }}-1.el8.x86_64.rpm'
      - 'https://github.com/osdldbt/dbt2-packaging/releases/download/v{{ dbt2_version }}/dbt2-exec-{{ dbt2_version }}-1.el8.x86_64.rpm'
    state: present
    disable_gpg_check: yes
  become: yes

- name: Install additional supporting packages
  package:
    name:
      - perf
      - rsync
      - tmux
    state: present
  when: os in ['RedHat8','CentOS8','Rocky8']
  become: yes
