[Service]
User={{ pgpool2_user }}

EnvironmentFile=-{{ pgpool2_environment_file }}

ExecStart=
ExecStart={{ pgpool2_bin_path }}/pgpool -f {{ pgpool2_configuration_file }} $OPTS
ExecStop={{ pgpool2_bin_path }}/pgpool -f {{ pgpool2_configuration_file }} -m fast stop
ExecReload=
ExecReload={{ pgpool2_bin_path }}/pgpool -f {{ pgpool2_configuration_file }} reload