---
all:
  children:
    primary:
      hosts:
        primary1:
          ansible_host: {{ inventory_vars['primary1_ip'] }}
          private_ip: {{ inventory_vars['primary1_ip'] }}
          etcd_cluster_name: 'patroni-etcd'
          etcd: true
    standby:
      hosts:
        standby1:
          ansible_host: {{ inventory_vars['standby1_ip'] }}
          private_ip: {{ inventory_vars['standby1_ip'] }}
          replication_type: synchronous
          upstream_node_private_ip: {{ inventory_vars['primary1_ip'] }}
          etcd_cluster_name: 'patroni-etcd'
          etcd: true
        standby2:
          ansible_host: {{ inventory_vars['standby2_ip'] }}
          private_ip: {{ inventory_vars['standby2_ip'] }}
          replication_type: asynchronous
          upstream_node_private_ip: {{ inventory_vars['primary1_ip'] }}
          etcd_cluster_name: 'patroni-etcd'
          etcd: true
