---

- name: Set variables
  set_fact:
    os: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}"
    pem_server_exists: false

- name: Check support for Operating System
  fail:
    msg: "Operating System = {{ os }} not supported."
  when: os not in supported_os

- name: Check supported versions for Database engine
  fail:
    msg: "Database Engine Version = {{ pg_version }} not supported.
          Supported versions are {{ supported_pg_version }}"
  when: pg_version|int not in supported_pg_version

- name: Reference variables
  include_vars: "{{ pg_type }}_{{ ansible_os_family }}.yml"

- name: Set the node_hostvars variable
  set_fact:
    node_hostvars: "{{ hostvars[inventory_hostname] }}"

- name: Get PEM server informations
  set_fact:
    pem_server_info: "{{ lookup('pem_server', wantlist=True) }}"

- name: Set pem_server_exists
  set_fact:
    pem_server_exists: true
  when:
    - pem_server_info|length > 0

- name: Gather the PEM server host and information for /etc/hosts
  set_fact:
    etc_hosts_lists: "{{ etc_hosts_lists + [node.private_ip + ' ' + node.hostname] }}"
  loop: "{{ pem_server_info }}"
  loop_control:
    loop_var: node
  when:
    - use_hostname
    - pem_server_exists

- name: Gather the SR cluster nodes host and information for /etc/hosts
  set_fact:
    etc_hosts_lists: "{{ etc_hosts_lists + [node.private_ip + ' ' + node.hostname] }}"
  loop: "{{ lookup('pg_sr_cluster_nodes', wantlist=True) }}"
  loop_control:
    loop_var: node
  when: use_hostname

- name: Fetch PEM admin user password
  import_tasks: pem_agent_fetch_adm_password.yml
  when:
    - pem_server_exists

- name: Create pemagent user on primary
  import_tasks: pem_agent_user.yml
  when:
    - group_names | select('search','primary') | list | count > 0

- name: Prepare hba host ip lists
  include_tasks: prepare_hba_value_list.yml

- name: Update /etc/hosts based on use_hostname
  block:
    - import_tasks: linux_update_etc_hosts.yml
  become: yes
  when:
    - use_hostname

- name: Install and configure pemagent on nodes
  block:
    - import_tasks: pem_agent_install.yml
    - import_tasks: pem_agent_config.yml
  become: yes

- name: Register database on primary and standby
  block:
    - import_tasks: pem_agent_hba.yml
    - import_tasks: pem_agent_register_db.yml
  become: yes

- name: Reset the variables
  set_fact:
    pem_server_info:
    etc_hosts_lists: []
    node_hostvars:
    pem_server_exists: false
