---
# efm credentials
os: ""
pg_version: ""
efm_version: 4.0 

disable_logging: true
force_efm_install: false
pass_dir: "~/.edb"
use_hostname: false

pg_efm_user: "efm"
pg_efm_user_password: ""
pg_ssl: true

efm_nodes_list: ""
efm_cluster_name: "efm"
efm_service: "edb-{{ efm_cluster_name }}-{{ efm_version }}"
# common variables require for the role
etc_hosts_lists: []
primary_public_ip: ""
primary_private_ip: ""
input_password: ""
pg_allow_ip_addresses: []

efm_default_parameters:
  - { name: db.user, value: "{{ pg_efm_user }}"}
  - { name: db.port, value: "{{ pg_port }}"}
  - { name: db.database, value: "{{ pg_efm_database }}"}
  - { name: db.service.owner, value: "{{ pg_owner }}"}
  - { name: db.service.name, value: "{{ pg_service }}"}
  - { name: db.bin, value: "{{ pg_bin_path }}"}
  - { name: db.recovery.dir, value: "{{ pg_data }}"}
  - { name: db.data.dir, value: "{{ pg_data }}"}
  - { name: user.email, value: "unknown@gmail.com"}
  - { name: auto.allow.hosts, value: true}
  - { name: stable.nodes.file, value: true}
  - { name: local.period, value: "3" }
  - { name: local.timeout, value: "5" }
  - { name: local.timeout.final, value: "5" }
  - { name: remote.timeout, value: "5" }
  - { name: node.timeout, value: "5" }

efm_physical_slot_param:
  - { name: update.physical.slots.period, value: "5" }

efm_cascaded_replica_param:
  - { name: promotable, value: false }
  - { name: auto.reconfigure, value: false }
# example of efm_custom_parameters:
# efm_parameters:
#   - name: script.notification
#     value: "/usr/edb/efm-3.10/bin/notification.sh"
efm_parameters: ""

efm_properties: "/etc/edb/efm-{{ efm_version }}/{{ efm_cluster_name }}.properties"
efm_node_file: "/etc/edb/efm-{{ efm_version }}/{{ efm_cluster_name }}.nodes"
efm_bin_path: "/usr/edb/efm-{{ efm_version }}/bin"

efm_packages:
  - java-1.8.0-openjdk
  - mailx
  - edb-efm{{ efm_install_version }}

supported_os:
  - CentOS7
  - CentOS8
  - RHEL7
  - RHEL8

supported_pg_type:
  - EPAS
  - PG

supported_pg_version:
  - 10
  - 11
  - 12
  - 13

supported_efm_version:
  - 4.0
  - 3.10

supported_node_type:
  - primary
  - standby
  - witness
