---
pg_user: "postgres"
# pem data dir
pg_home: "/usr/pgsql-{{ pg_version }}"
pg_data: "/var/lib/pgsql/{{ pg_version }}/data"
pg_bin_path: "{{ pg_home }}/bin"
pg_ssl: true

pg_owner: "postgres"
pg_database: "postgres"

# unix socket domain directories
pg_unix_socket_directories:
   - "/var/run/postgresql"

# postgres port
pg_port: 5432

# postgres service
pg_service: "postgresql-{{ pg_version }}"
