- name: Generate the pg_repmgr_user_password
  ansible.builtin.include_role:
    name: common
    tasks_from: generate_password
  vars:
    input_user: "{{ pg_repmgr_user }}"
    input_password: "{{ pg_repmgr_user_password }}"
  when: pg_repmgr_user_password|length < 1

- name: Set pg_repmgr_user_password
  ansible.builtin.set_fact:
    pg_repmgr_user_password: "{{ input_password }}"
  when: pg_repmgr_user_password|length < 1

- name: Add repmgr user's password in pgpass
  ansible.builtin.include_role:
    name: manage_dbserver
    tasks_from: manage_pgpass
  vars:
    pg_pgpass_values:
      - user: "{{ pg_repmgr_user }}"
        password: "{{ pg_repmgr_user_password }}"
        database: "{{ pg_repmgr_dbname }}"
        create: true
