---
- name: Prepare standby list
  set_fact:
    _standbys_list: "{{ _standbys_list | default([]) + [node.inventory_hostname] }}"
  loop: "{{ pg_cluster_nodes }}"
  loop_control:
    loop_var: node
  when:
    - synchronous_standby_names|length < 1
    - node.node_type == 'standby'
  no_log: "{{ disable_logging }}"

- name: Set _synchronous_standby_names
  set_fact:
    _synchronous_standby_names: "{{ ' ' + _synchronous_standbys | default([]) | length | string() + '(' + _standbys_list | map('to_json') | join(',') + ')' }}"
  when:
    - synchronous_standby_names|length < 1

- name: Add standby quorum string
  set_fact:
    synchronous_standby_names: "{{ standby_quorum_type + _synchronous_standby_names }}"
  when:
    - synchronous_standby_names|length < 1
    - standby_quorum_type|length > 0
    - _synchronous_standby_names is defined
    - _synchronous_standby_names|length > 0

- name: Call manage_dbserver tasks for synchronous_standby_names
  include_role:
    name: manage_dbserver
    tasks_from: manage_postgres_params
  vars:
    pg_postgres_conf_params:
      - name: synchronous_standby_names
        value: "{{ synchronous_standby_names }}"
  when: synchronous_standby_names|length > 0
  no_log: "{{ disable_logging }}"
