---
# configure variables

- name: Set force_replication based on the user input
  set_fact:
      force_replication: "{{ hostvars[inventory_hostname].force_replication }}"
  when: hostvars[inventory_hostname].force_replication is defined
  register: output

- name: Force cleanup based on force_replication
  block:
    - include_tasks: rm_replication.yml
  when: force_replication
  become: yes

# postgres
- name: Gather the host and information for /etc/hosts
  set_fact:
    etc_hosts_lists: "{{ etc_hosts_lists + [node.private_ip + ' ' + node.hostname] }}"
  loop: "{{ lookup('pg_sr_cluster_nodes', wantlist=True) }}"
  loop_control:
    loop_var: node
  when: use_hostname
  no_log: "{{ disable_logging }}"

- name: Get the primary information
  set_fact:
    primary_public_ip: "{{ node.ansible_host }}"
  loop: "{{ lookup('pg_sr_cluster_nodes', wantlist=True) }}"
  loop_control:
    loop_var: node
  when:  node.node_type == 'primary'
  no_log: "{{ disable_logging }}"

- name: Prepare host ip lists based on allow_node_ips
  include_tasks: prepare_hba_value_list.yml
  loop: "{{ lookup('pg_sr_cluster_nodes', wantlist=True) }}"
  loop_control:
    loop_var: node
  no_log: "{{ disable_logging }}"

- name: Prepare synchronous_standby_names
  set_fact:
    synchronous_standbys: "{{ synchronous_standbys + [node.inventory_hostname | regex_replace('[^a-zA-Z0-9_]', '_')] }}"
  loop: "{{ lookup('pg_sr_cluster_nodes', wantlist=True) }}"
  loop_control:
    loop_var: node
  when:
    - node.node_type == 'standby'
    - node.replication_type == 'synchronous'
  no_log: "{{ disable_logging }}"

- name: Update primary for replication
  import_tasks: primary_settings.yml
  run_once: true
  no_log: "{{ disable_logging }}"
  delegate_to: "{{ primary_public_ip }}"

- name: Update etc_hosts based on use_hostname
  block:
    - import_tasks: linux_update_etc_hosts.yml
  become: yes
  no_log: "{{ disable_logging }}"
  when: use_hostname

- name: Call upstream update based on the upstream node
  block:
    - import_tasks: upstream_node.yml
  when:
    - hostvars[inventory_hostname].upstream_node_private_ip is defined
  no_log: "{{ disable_logging }}"

- name: Build standby service check
  block:
    - import_tasks: create_directories.yml
    - import_tasks: pg_basebackup.yml
    - import_tasks: configure_node.yml
  become: yes

- name: Update primary for synchronous replication
  import_tasks: primary_synchronous_param.yml
  when: synchronous_standbys|length > 0
  run_once: true
  delegate_to: "{{ primary_public_ip }}"
  no_log: "{{ disable_logging }}"

- name: Reset the variables based on the user input
  set_fact:
      primary_private_ip: ""
      primary_public_ip: ""
      primary_host_name: ""
      standby_names: []
      pg_allow_ip_addresses: []
      standby_physical_slots: []
      etc_hosts_lists: []
      force_replication: false
  register: output
