---
- name: Set the os variable
  ansible.builtin.set_fact:
    os: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}"

- name: Check support for Operating System
  ansible.builtin.fail:
    msg: "Operating System = {{ os }} not supported."
  when: os not in supported_os

- name: Check supported versions for Database engine
  ansible.builtin.fail:
    msg: "Database Engine Version = {{ pg_version }} not supported.
          Supported versions are {{ supported_pg_version }}"
  when: pg_version|int not in supported_pg_version

- name: Verify TDE parameters based on the version and pg_type
  ansible.builtin.include_tasks: verify_tde_vars.yml
  when:
    - edb_enable_tde
    - pg_type == 'EPAS'
    - pg_version|int >= 15

- name: Reference EPAS or PG variables
  ansible.builtin.include_vars: "{{ pg_type }}_{{ ansible_os_family }}.yml"

- name: Gather service facts
  ansible.builtin.service_facts:

- name: Open Postgres TCP port {{ pg_port }}
  ansible.posix.firewalld:
    port: "{{ pg_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true
  when:
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
    - ansible_facts.services['firewalld.service'].status == 'enabled'
    - not validate_only|bool
  become: true

- name: Force cleanup based on force_initdb/replication
  ansible.builtin.include_tasks: rm_replication.yml
  when: >
    ((force_initdb is defined and force_initdb) or
     (force_replication is defined and force_replication) or
     (remove_only is defined and remove_only)) and
     not validate_only|bool

- name: Gather the cluster_nodes information
  ansible.builtin.set_fact:
    pg_cluster_nodes: "{{ lookup('edb_devops.edb_postgres.pg_sr_cluster_nodes', wantlist=True) }}"

- name: Get the primary information
  ansible.builtin.set_fact:
    primary_inventory_hostname: "{{ node.inventory_hostname }}"
  loop: "{{ pg_cluster_nodes }}"
  loop_control:
    loop_var: node
  when: node.node_type == 'primary'
  run_once: true
  no_log: "{{ disable_logging }}"

- name: Prepare host ip lists based on allow_node_ips
  ansible.builtin.include_tasks: prepare_hba_value_list.yml
  when: not validate_only|bool

- name: Prepare synchronous_standby_names
  ansible.builtin.set_fact:
    _synchronous_standbys: "{{ _synchronous_standbys | default([]) + [node.inventory_hostname] }}"
  loop: "{{ pg_cluster_nodes }}"
  loop_control:
    loop_var: node
  when:
    - node.node_type == 'standby'
    - node.replication_type == 'synchronous'
    - synchronous_standby_names|length < 1
    - not validate_only|bool
  no_log: "{{ disable_logging }}"
  run_once: true

- name: Update primary for replication
  ansible.builtin.import_tasks: primary_settings.yml
  run_once: true
  no_log: "{{ disable_logging }}"
  when: not validate_only|bool
  delegate_to: "{{ primary_inventory_hostname }}"

- name: Update /etc/hosts based on use_hostname
  ansible.builtin.import_tasks: linux_update_etc_hosts.yml
  become: true
  no_log: "{{ disable_logging }}"
  when:
    - use_hostname|bool
    - update_etc_file|bool
    - not validate_only|bool

- name: Call upstream update based on the upstream node
  ansible.builtin.import_tasks: upstream_node.yml
  when:
    - hostvars[inventory_hostname].upstream_node_private_ip is defined
    - not validate_only|bool
  no_log: "{{ disable_logging }}"

- name: Build standby service check
  become: true
  when: not validate_only|bool
  block:
    - name: Create directories if not exists
      ansible.builtin.import_tasks: create_directories.yml
    - name: Take PG base backup
      ansible.builtin.import_tasks: pg_basebackup.yml
    - name: Setup systemd file
      ansible.builtin.import_tasks: pg_setup_systemd.yml
    - name: Send SSL files based on users input
      ansible.builtin.import_tasks: pg_ssl_send_files.yml
    - name: Configure standby node
      ansible.builtin.import_tasks: configure_node.yml

- name: Update primary for synchronous replication
  ansible.builtin.import_tasks: primary_synchronous_param.yml
  when: >-
      _synchronous_standbys is defined and (
      _synchronous_standbys|length > 0
      or synchronous_standby_names|length > 0 ) and not validate_only|bool
  run_once: true
  delegate_to: "{{ primary_inventory_hostname }}"
  no_log: "{{ disable_logging }}"

- name: Import validation tasks
  ansible.builtin.import_tasks: validate_setup_replication.yml
  when:
    - validate_only|bool or use_validation|bool

- name: Reset the variables based on the user input
  ansible.builtin.set_fact:
    primary_private_ip: ""
    primary_inventory_hostname: ""
    primary_host_name: ""
    standby_names: []
    pg_allow_ip_addresses: []
    standby_physical_slots: []
    force_replication: false
  register: output
