---
- name: Get upstream node info
  set_fact:
    upstream_inventory_hostname: "{{ node.inventory_hostname }}"
    upstream_hostname: "{{ node.inventory_hostname if use_hostname | bool else '' }}"
  when:
    - hostvars[inventory_hostname].upstream_node_private_ip is defined
    - node.private_ip == hostvars[inventory_hostname].upstream_node_private_ip
  loop: "{{ lookup('tmax_opensql.postgres.pg_sr_cluster_nodes', wantlist=True) }}"
  loop_control:
    loop_var: node

- name: Add standby slot in upstream node
  import_tasks: upstream_node_slots.yml
  delegate_to: "{{ upstream_inventory_hostname }}"
