---
# default empty rpm repo
# port constants

# postgres constants
pg_data: "/var/lib/edb/as{{ pg_version }}/data"
pg_default_data: "/var/lib/edb/as{{ pg_version }}/data"
pg_log: "/var/log/edb"
pg_wal: ""
pg_log_filename: "edb-%a.log"

use_hostname: false
primary_host_name: ""

pg_owner: "enterprisedb"
pg_group: "enterprisedb"
pg_ssl: true
pg_port: "5444"
pg_replication_user: "repuser"
pg_replication_user_password: ""
synchronous_standby_names: ""

random_string: ""
    
pg_database: "edb"
pg_service: "edb-as-{{ pg_version }}"

pg_user_home: "/var/lib/edb"
pg_bin_path: "/usr/edb/as{{ pg_version }}/bin"
pg_basebackup: "{{ pg_bin_path }}/pg_basebackup -Fp -R -l standby --checkpoint=fast --wal-method=stream"
pg_basebackup_options: ""

# unix socket domain directories
pg_unix_socket_directories:
  - "/var/run/edb/as{{ pg_version }}"
