---
- name: Install gpg
  ansible.builtin.package:
    name: gpg
    state: present
  become: true

- name: Install acl
  ansible.builtin.package:
    name: acl
    state: present
  become: true

- name: Install apt-transport-https
  apt:
    name: apt-transport-https
    update_cache: true
    state: present
  become: true

- name: Add PG Debian keys
  apt_key:
    url: "{{ pg_deb_keys }}"
    state: present
  when: pg_type == 'PG'
  become: true

- name: Add PG Debian repo
  apt_repository:
    repo: "{{ pg_deb_repo_url }}"
    state: present
    filename: "pgdg"
  when: pg_type == 'PG'
  become: true

- name: Add additional Debian repositories
  ansible.builtin.apt_repository:
    repo: "{{ item.repo }}"
    state: present
    filename: "{{ item.filename }}"
  become: true
  loop: "{{ apt_additional_repos }}"
  when: apt_additional_repos | length > 0