---
- name: Build configuration file {{ barman_configuration_file }}
  ansible.builtin.template:
    src: "./templates/barman.conf.template"
    dest: "{{ barman_configuration_file }}"
    owner: "{{ barman_user }}"
    group: "{{ barman_group }}"
    mode: "0600"
  become: true
