---
- name: Check Operating System,  PostgreSQL type, PostgreSQL version
  include_role:
    name: common
    tasks_from: check_version.yml

- name: Reference pg_type variables
  include_vars: "{{ pg_type }}_{{ ansible_os_family }}.yml"

- name: Set barman_backup_method
  set_fact:
    barman_backup_method: "{{ hostvars[inventory_hostname].barman_backup_method | default('rsync') }}"

- name: Check barman_backup_method value
  fail:
    msg: "Barman backup method {{ barman_backup_method }} not supported."
  when: >
    barman_backup_method not in ['postgres', 'rsync']

- name: Fail if barman_primary_vip is defined and barman_backup_method is not Postgres
  fail:
    msg: "The hostvar barman_primary_vip is not compatible with rsync backups"
  when:
    - hostvars[inventory_hostname].barman_primary_vip is defined
    - barman_backup_method != 'postgres'

- name: Reference pg_type variables
  include_vars: "{{ role_path }}/../init_dbserver/vars/{{ pg_type }}_{{ ansible_os_family }}.yml"

- name: Reference barman server variables
  include_vars: "{{ role_path }}/../setup_barmanserver/defaults/main.yml"

- name: Update /etc/hosts based on use_hostname
  include_role:
    name: common
    tasks_from: linux_update_etc_hosts.yml
  when:
    - use_hostname|bool
    - update_etc_file|bool

- name: Include the package installation tasks
  include_role:
    name: setup_barmanserver
    tasks_from: install_packages

- name: Include the password generation tasks
  include_tasks: generate_pg_password.yml
  when: barman_pg_password is not defined

- name: Include the barman .pgpass file tasks
  include_tasks: update_barman_pgpass.yml

- name: Include the Postgres user creation tasks
  include_tasks: create_pg_user.yml
  when: >
    'primary' in group_names

- name: Include the HBA file update tasks
  include_tasks: update_pg_hba.yml

- name: Include the SSH keys generation tasks
  include_tasks: generate_ssh_keys.yml

- name: Include the SSH keys exchange tasks
  include_tasks: exchange_ssh_keys.yml

- name: Include the barman configuration tasks
  include_tasks: configure_barman.yml
  when: >
    hostvars[inventory_hostname].barman_no_configuration is not defined
    or not hostvars[inventory_hostname].barman_no_configuration|bool

- name: Include the Postgres configuration tasks for backup
  include_tasks: configure_pg_backup.yml
  when: >
    hostvars[inventory_hostname].barman_no_configuration is not defined
    or not hostvars[inventory_hostname].barman_no_configuration|bool

- name: Include the barman post configuration tasks
  include_tasks: post_configure_barman.yml
  when: >
    hostvars[inventory_hostname].barman_no_configuration is not defined
    or not hostvars[inventory_hostname].barman_no_configuration|bool
