---

- name: Check T-shirt Size
  ansible.builtin.fail:
    msg: "T-shirt size = {{ tshirt_size }} is not supported.
         Available T-shirt sizes are {{ supported_tshirt_size }}"
  when: tshirt_size not in supported_tshirt_size

- name: Reference HammerDB TPROC-C variables
  ansible.builtin.include_vars: "hammerdb-tproc-c.yml"

- name: Reference HammerDB T-shirt variables
  ansible.builtin.include_vars: "hammerdb_{{ tshirt_size }}.yml"

- name: Reference Postgres variables
  ansible.builtin.include_vars: "{{ pg_type }}.yml"

- name: Include the HBA file update tasks
  ansible.builtin.include_tasks: update_pg_hba.yml

- name: Install packages
  ansible.builtin.yum:
    name:
      - tmux
  become: true
  failed_when: false

- name: Include HammerDB installation
  ansible.builtin.include_role:
    name: setup_hammerdbserver
    tasks_from: install_hammerdb

#- name: Include Touchstone installation
#  ansible.builtin.include_role:
#    name: setup_touchstone
#    tasks_from: main

- name: Include the TPROC-C load script tasks
  ansible.builtin.include_tasks: install_tproc-c_load_scripts.yml

- name: Gather hardware informations
  ansible.builtin.set_fact:
    _sys_memtotal_mb: "{{ (ansible_memtotal_mb * 1.048576) | int }}"

- name: Set the variable _pg_shared_buffers_mb for HammerDB TPROC-C
  ansible.builtin.set_fact:
    _pg_shared_buffers_mb: 24576

- name: Set the variable _pg_effective_cache_size_mb for HammerDB TPROC-C
  ansible.builtin.set_fact:
    _pg_effective_cache_size_mb: >-
      {{ ((_sys_memtotal_mb | int - _pg_shared_buffers_mb | int) - 4096) }}

- name: Re-initialize the Postgres parameters for t-shirt size {{ tshirt_size }}
  ansible.builtin.set_fact:
    _pg_postgres_conf_params:
      - name: max_connections
        value: "{{ max_connections }}"
      - name: shared_buffers
        value: "{{ _pg_shared_buffers_mb }}MB"
      - name: effective_cache_size
        value: "{{ _pg_effective_cache_size_mb }}MB"
      - name: max_wal_size
        value: "{{ max_wal_size }}"

- name: Re-apply Postgres parameters for t-shirt size {{ tshirt_size }}
  ansible.builtin.include_role:
    name: manage_dbserver
    tasks_from: manage_postgres_params
  vars:
    pg_postgres_conf_params: "{{ _pg_postgres_conf_params }}"
  no_log: "{{ disable_logging }}"
