---
# Variables for EPAS
pg_port: "5432"
pg_owner: "postgres"
pg_service: "postgresql@{{ pg_version }}-{{ pg_instance_name }}"
pg_database: "postgres"
pg_unix_socket_directories:
  - "/var/run/postgresql"
