ETCD_NAME="{{ inventory_hostname }}"
ETCD_ENABLE_V2="true"
ETCD_DATA_DIR="/var/lib/etcd/{{ inventory_hostname|replace('-', '_') }}"
{% if etcd_ssl %}
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ inventory_hostname if use_hostname else hostvars[inventory_hostname].private_ip }}:{{ etcd_peer_port }}"
ETCD_LISTEN_PEER_URLS="https://0.0.0.0:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:{{ etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ inventory_hostname if use_hostname else hostvars[inventory_hostname].private_ip }}:{{ etcd_client_port }}"
ETCD_CERT_FILE="{{ etcd_member_crt }}"
ETCD_KEY_FILE="{{ etcd_member_key }}"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="{{ etcd_ca_crt }}"
ETCD_PEER_CERT_FILE="{{ etcd_member_crt }}"
ETCD_PEER_KEY_FILE="{{ etcd_member_key }}"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="{{ etcd_ca_crt }}"
{% else %}
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ inventory_hostname if use_hostname else hostvars[inventory_hostname].private_ip }}:{{ etcd_peer_port }}"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:{{ etcd_client_port }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ inventory_hostname if use_hostname else hostvars[inventory_hostname].private_ip }}:{{ etcd_client_port }}"
{% endif %}
ETCD_INITIAL_CLUSTER_STATE="{{ etcd_initial_cluster_state|default('new') }}"
ETCD_INITIAL_CLUSTER="{{ etcd_initial_cluster | join(',') }}"
ETCD_AUTO_COMPACTION_MODE="{{ etcd_compaction_mode }}"
ETCD_AUTO_COMPACTION_RETENTION="{{ etcd_compaction_retention }}"
{% if etcd_conf_params|length > 0 %}
{% for item in etcd_conf_params %}
ETCD_{{ item.name|upper }}="{{ item.value }}"
{% endfor %}
{% endif %}
