[Unit]
Description=Etcd distributed store
After=network-online.target local-fs.target remote-fs.target time-sync.target syslog.target network.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
Type=notify
User={{ etcd_owner }}
Group={{ etcd_group }}

StandardOutput=syslog

WorkingDirectory={{ etcd_data_dir }}
EnvironmentFile=-{{ etcd_environment_file }}
ExecStart={{ etcd_bin_dir }}/etcd --config-file {{ etcd_config }}
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
