#!/usr/bin/env tclsh
global complete
proc wait_to_complete {} {
        global complete
        set complete [vucomplete]
        if {!$complete} {after 5000 wait_to_complete} else { exit }
}
dbset db pg
diset connection pg_host {{ hostvars['primary1'].private_ip }}
diset connection pg_port {{ pg_port }}
diset tpcc pg_count_ware 600
diset tpcc pg_num_vu {{ ansible_processor_vcpus }}
diset tpcc pg_raiseerror true
diset tpcc pg_superuser postgres
buildschema
wait_to_complete
