#!/bin/sh

DATE=`date +"%Y-%m-%dT%T%:z"`
LDIR="${HOME}/results/driver/${DATE}"
RDIR="${HOME}/results/sut/${DATE}"

ssh -fn {{ primary_private_ip }} ts-sysstat -o $RDIR
(cd ${HOME}/HammerDB-{{ hammerdb_version }} && \\
ts-sysstat -o $LDIR ./hammerdbcli << !
source ${HOME}/runner.tcl
!
)
ssh -fn {{ primary_private_ip }} ts-sysstat -o $RDIR -s
grep "TEST RESULT" /tmp/hammerdb.log | tail -n 1 > ${LDIR}/hammerdb.txt
